<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock title %} - Net-Toolbox</title>
  </head>

  <body>
    <nav>
      <a href="{{ url_for('browser.index') }}">Home</a>
      <a href="{{ url_for('browser.dig') }}">Dig</a>
      <a href="{{ url_for('browser.ping') }}">Ping</a>
      <a href="{{ url_for('browser.traceroute') }}">Traceroute</a>
      <a href="{{ url_for('browser.whois') }}">Whois</a>
    </nav>

    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>

